{% extends 'main_app/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}

<div id="left">
    <form id="homeform" method="POST">
        {% csrf_token %}
       <h2 id="bigt">Start blogging right here!</h2>  <br>
        {{NewPost.media}}
        {{NewPost.as_p}}
        <button id="homepublish" type="submit" class="btn btn-dark">Publish</button><br> <br>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div id="postsucc" class="alert alert-success">
                    {{message}}
                </div>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
</div>
        <h2 id="bigtwo">This is what everyone is talking about!</h2> <br>
        {% for i in posts %}
            <div id="homeposts">
                <div class="card text-center">
                <div class="card-header">
                    {{i.posted_date}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{i.title}}</h5>
                    <p class="card-text">{{i.body|safe|truncatewords:50}}</p>
                </div>
                <div class="card-footer text-muted">
                    <a href="{% url 'profiles-list' i.user.id %}">{{i.user}}<img id="objphotohome" src="{{i.user.user_object.profile_pic.url}}" height="30" width="30" class="rounded-circle"></a>
                    <div id="homereadmore">
                        <a id="homereadmorebutton" href="{% url 'blog-pages' i.id %}" class="btn btn-primary"><p id="preadm">Read more</p></a>
                    </div>
                </div>
                </div>
            </div> <br> <br> <br>
        {% endfor %}

{% endblock content %}