{% extends 'main_app/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}

<div id="left">
    <form id="homeform" method="POST">
        {% csrf_token %}
       <h2 id="bigt">Start blogging right here!</h2>  <br>
        {{NewPost.media}}
        {{NewPost.as_p}}
        <button id="homepublish" type="submit" class="btn btn-dark">Publish</button><br> <br>
    </form>
</div>
        <h2 id="bigtwo">This is what everyone is talking about!</h2> <br>
        {% for i in posts %}
            <div id="homeposts">
                <div class="card text-center">
                <div class="card-header">
                    {{i.posted_date}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{i.title}}</h5>
                    <p class="card-text">{{i.body|safe}}</p>
                </div>
                <div class="card-footer text-muted">
                    <a href="{% url 'profiles-list' i.user.id %}">{{i.user}}</a>
                </div>
                </div>
            </div> <br> <br> <br>
            {% endfor %}

{% endblock content %}