{% extends 'main_app/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}

<div id="left">
    <form method="POST">
        {% csrf_token %}
       <h2>Start blogging right here!</h2>  <br>
        {{NewPost.media}}
        {{NewPost.as_p}}
        <button type="submit" class="btn btn-dark">Publish</button><br> <br>
    </form>
</div>
        <h2>This is what everyone is talking about!</h2> <br>
        {% for i in posts %}
            <div id="homeposts">
                <div class="card text-center">
                <div class="card-header">
                    {{i.posted_date}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{i.title}}</h5>
                    <p class="card-text">{{i.body|safe}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{i.user}} 
                </div>
                </div>
            </div> <br> <br> <br>
            {% endfor %}

{% endblock content %}