{% extends 'main_app/base.html' %}
{% load static %}
{% block title %} {{profile_owner.username}} Profile {% endblock title %}
{% block content %}
    <div id="profilecard" class="card position-fixed" style="width: 16rem;">
        <img class="card-img-top" src="{{profile_owner.user_object.profile_pic.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{profile_owner.username}}</h5>
          <div class="card">
            <div class="card-body">
              {{profile_owner.user_object.bio}}
            </div>
          </div><br>
        </div>
    </div><br> 
    <div id="publicprofileleft">
        <h2>{{profile_owner.username}} Posts</h2>
    </div>
{% for i in posts %}
    <div id="profileleft">
      <div class="card text-center">
        <div id="profilecardheader" class="card-header">
          <ul id="ulprof" class="nav nav-pills card-header-pills">
            <li id="publicpostli">
              <p>{{i.posted_date}}</p>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">{{i.body|safe|truncatewords:50}}</p>
        </div>
        <div class="card-footer text-muted">
          <p>{{i.user}}</p> 
          <div id="profilesreadmore">
            <a href="{% url 'blog-pages' i.id %}" class="btn btn-primary" id="profilesreadmorebutton"><p id="preadmp">Read more</p></a>
          </div>
        </div>
      </div>
         <br>
    </div>
{% endfor %}
{% endblock content %}