.gradient-custom-3 {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
.gradient-custom-4 {
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

div#moreleft{
    margin-left: 862px;
    margin-top: -440px;
}

form#moreleft{
    margin-left: auto;
    margin-top: auto;
    width: 150px;
}

img#master{
    display: block;
    margin-left: -29px;
    margin-top: -8px;
    margin-right: auto;
    width: 50%;
    height: 665px;
}

button#loginbutton{
    margin-left: 251px;    
}

form#left{
    margin-left: 5px;
    margin-top: 5px;
}

.narrow-select{
    width: 445px;
}

.pass{
    width: 445px;
}

div#loginfields{
    width: 625px;
    margin-left: 200px;
}