*{
    margin: 0px;
    padding: 0px;
}


div#left{
    margin-left: 5px;
    margin-top: 65px;
}

form#left{
    margin-left: 5px;
    margin-top: 65px;
}

.dropdown-item-custom{
    height: 30px;
}

img#profile-button{
    margin-left: 15px;
    margin-top: -5px;
}

img#navavatar{
    margin-left: 5px;
    margin-top: -5px;
}

img#exitbutton{
    margin-left: 11px;
    margin-top: 5px;
}

div#profilecard{
    margin-left: 0px;
    height: 657px;
}

div#secondprofilecard{
    margin-left: 250px;
    height: 900px;
}

